
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<h2>Index</h2>

@section headerWidget
{
    <span class="widget-icon"><i class="fa fa-building"></i></span>
    <h2>Enpresa</h2>
}
